html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}


html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
 
html {
  font-size: 62.5%; 
} 


/* stripping of styles */
body,
ul,
h1,
h2,
h3
p {
margin: 0;
padding: 0;
}

body{
  background:#A3BCF9;
}


/* a{
  text-decoration: none;
} */


img {
width: 100%;
height: auto;
display: block;
border-radius: 10px;
} 

.wrapper {
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  }


.App {
  text-align: center;
}



header,
option,
select,
button,
p{
  font-family: 'Gothic A1', sans-serif;
}

.imageDisplay p{
  /* width:80%; */
  font-weight:300;
}

header{
  padding-top:100px;
  height:50vh;
  background:#D1D2F9;
}

h1{
  font-size: calc(2.5rem + 1vw);
  font-weight:900;
}

main{
  background:#576490;
}

footer,
.reviewSection{
  background:#A3BCF9;
  padding:10px;
}



.imageDisplay{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  background:#A3BCF9;
  padding:25px;
}

.makeupItems{
  padding:10px;
}


p{
  font-size: calc(0.5rem + 1vw);
  margin-top:10px;
  color:black;
}

footer p{
  margin-top:100px;
}

h1{
  color:#576490;
}


.dropDownForm{
  height:30%;
}

select,
option,
input
{
  width:55%;
  text-align: center;
  margin:10px;
  border-radius: 10px;
  border: 5px solid #7796CB;
  color:#576490;
  background:#C9CAD9;
}

select,
option{
  height:60px;
  font-size:calc(2.5rem + 1vw);
  text-transform: uppercase;

}

input{
  height:100px;
  font-size: calc(1rem + 1vw)
}

.postSection form{
  margin: 0 auto;
  width:80%;
}

.submitButton{
  border: 5px solid #7796CB;
  font-size: calc(2rem + 1vw);
  text-transform: uppercase;
  background:#7796CB;
  border-radius: 10px;
  color:white;
}

.addedUserReview{
  padding:30px;
  background:#576490;;
  width:55%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px black;
}

.addedUserReview p {
  color:white;

}

.delete{
  border: 5px solid #a2b1e2;
  font-size: calc(0.5rem + 1vw);
  background:#576490;
  border-radius: 10px;
  color:white;
}

.imageDisplay a{
  text-align: center;
  font-size:1.5rem;
  margin: 0 auto;
  margin-top:2px;
  width:35%;
  padding:5px;
  background:#576490;
  border: 5px solid #576490;
  border-radius: 10px;
  color:white;
  text-decoration: none;
}



@media (max-width: 600px){
  .imageDisplay{
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (max-width: 480px){
  .imageDisplay{
    grid-template-columns: repeat(2, 1fr);
  }
}



button.blue {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
  display: block;
  width: 50%;;
  padding: 8px 18px;
  font-size: 16px;
}






